@import "Shared/_Definition.less";

.Login {

    #message {
        font-size: 16px;
        color: @Warning;
        text-align: center;
        margin: 12px auto @Zero auto;
        overflow: hidden;
        white-space: nowrap;
        height: 21px;
    }
}

// ==== RWD ====
@media @Tablet {
}

@media @Phone {
}