body {
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 14px;
  color: #565656;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  min-width: 320px;
  overflow: auto;
  background-color: #e1e1e1;
}
input {
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 13px;
}
a:link,
a:link:visited {
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 14px;
  color: #005bb7;
  text-decoration: underline;
  cursor: pointer;
  border: none;
}
a:link:visited,
a:link:visited:visited {
  color: #005bb7;
}
a:link:hover,
a:link:visited:hover {
  color: #ffbf2a;
}
a:link img,
a:link:visited img {
  border: none;
}
div,
span,
label {
  cursor: default;
}
table {
  border-collapse: collapse;
}
table td {
  vertical-align: top;
}
iframe {
  border: none;
}
.Hidden {
  display: none;
}
.Link {
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 14px;
  color: #005bb7;
  text-decoration: underline;
  cursor: pointer;
  border: none;
}
.Link:visited {
  color: #005bb7;
}
.Link:hover {
  color: #ffbf2a;
}
.Disabled,
*[disabled] {
  color: #c0c0c0;
  pointer-events: none;
}
.Warning {
  color: #c40000;
}
.Freeze * {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: transparent;
  background-image: none;
  border-color: rgba(0, 0, 0, 0.05);
  pointer-events: none;
  box-shadow: none;
}
.Freeze input,
.Freeze textarea,
.Freeze button,
.Freeze select {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.05);
  resize: none;
  opacity: .5;
}
.Freeze input,
.Freeze input[type="file"],
.Freeze input[type="checkbox"],
.Freeze input[type="radio"],
.Freeze textarea,
.Freeze select {
  opacity: .2;
  background: transparent none;
}
.Freeze fieldset {
  border-color: transparent;
}
.Freeze img {
  opacity: 1;
  background: transparent none;
  -webkit-filter: blur(15px);
  -ms-filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=20);
  filter: blur(15px);
}
.Holo {
  padding: 60px 0px 80px 0px;
}
.Sight {
  margin: 0px auto 0px auto;
  overflow-x: hidden;
  width: 944px;
}
.Shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #717171;
  opacity: .5;
  top: 0px;
  left: 0px;
  z-index: 2147483647;
}
.Progress {
  position: fixed;
  top: 30%;
  height: 200px;
  line-height: 200px;
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 24px;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  z-index: 2147483647;
}
.Function {
  padding: 24px;
  margin: 8px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #c8c8c8;
}
.Function span {
  font-size: 18px;
  margin-right: 12px;
}
.Function .TextBox {
  font-size: 16px;
}
.Function .BR {
  display: inline-block;
  width: 24px;
}
.Function .Action {
  height: 32px;
  margin: 24px 0px 8px 0px;
}
.Function .Action input {
  margin: 0px 12px;
}
.Do {
  position: fixed;
  right: 32px;
  bottom: 16px;
  width: 56px;
}
.Do input[type=image] {
  width: 56px;
  height: 56px;
  margin-top: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #3778d7;
  border-radius: 28px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14), 0px 4px 8px rgba(0, 0, 0, 0.28);
  background-size: 24px 24px;
}
.Do input[type=image]:hover {
  background-color: #005bb7;
}
.Do input[type=image].Add {
  background-image: url(/Images/Do/Add.png);
}
.Do input[type=image].Edit {
  background-image: url(/Images/Do/Edit.png);
}
.Do input[type=image].Remove {
  background-color: #c40000;
  background-image: url(/Images/Do/Remove.png);
}
.Do input[type=image].Remove:hover {
  background-color: #800000;
}
.Do input[type=image].Save {
  background-color: #87b02b;
  background-image: url(/Images/Do/Save.png);
}
.Do input[type=image].Save:hover {
  background-color: #6f9023;
}
input[type=image],
img {
  vertical-align: middle;
}
input[type=text],
input[type=password],
input[type=search],
.TextBox {
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 14px;
  color: #565656;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  width: 140px;
  height: 24px;
}
input[type=text].Full,
input[type=password].Full,
input[type=search].Full,
.TextBox.Full {
  width: 100%;
}
input[type=text].Large,
input[type=password].Large,
input[type=search].Large,
.TextBox.Large {
  max-width: 280px;
  width: 100%;
}
input[type=text].ReadOnly,
input[type=password].ReadOnly,
input[type=search].ReadOnly,
.TextBox.ReadOnly,
input[type=text][readonly],
input[type=password][readonly],
input[type=search][readonly],
.TextBox[readonly] {
  pointer-events: none;
  cursor: default;
}
input[type=text].Warning,
input[type=password].Warning,
input[type=search].Warning,
.TextBox.Warning {
  background-color: #fdddc6;
  border-bottom-color: #800000;
}
textarea,
.MultiLineTextBox {
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 14px;
  color: #565656;
  text-decoration: none;
  border: 1px solid #c8c8c8;
  width: 360px;
  height: 80px;
}
span,
label,
.Label {
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 14px;
  color: #565656;
  text-decoration: none;
}
span.Focus,
label.Focus,
.Label.Focus {
  color: #800000;
}
span.Hint,
label.Hint,
.Label.Hint {
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 11px;
  color: #6f9023;
}
input[type=button],
input[type=submit],
Button,
.Button {
  cursor: pointer;
  width: 96px;
  height: 32px;
  line-height: 22px;
  color: #ffffff;
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 16px;
  border-radius: 2px;
  border: solid 1px #3778d7;
  background-color: #3778d7;
}
input[type=button].Large,
input[type=submit].Large,
Button.Large,
.Button.Large {
  width: 140px;
}
input[type=button]:hover,
input[type=submit]:hover,
Button:hover,
.Button:hover {
  background-color: #005bb7;
}
input[type=button][disabled],
input[type=submit][disabled],
Button[disabled],
.Button[disabled],
input[type=button].Disabled,
input[type=submit].Disabled,
Button.Disabled,
.Button.Disabled {
  border: solid 1px #c8c8c8;
  background-color: #c8c8c8;
  color: #565656;
}
input[type=button][disabled]:hover,
input[type=submit][disabled]:hover,
Button[disabled]:hover,
.Button[disabled]:hover,
input[type=button].Disabled:hover,
input[type=submit].Disabled:hover,
Button.Disabled:hover,
.Button.Disabled:hover {
  background-color: #717171;
}
input[type=button].Careless,
input[type=submit].Careless,
Button.Careless,
.Button.Careless {
  border: solid 1px #c8c8c8;
  background-color: #c8c8c8;
  color: #565656;
}
input[type=button].Careless:hover,
input[type=submit].Careless:hover,
Button.Careless:hover,
.Button.Careless:hover {
  background-color: #717171;
}
input[type=button].Careless:hover,
input[type=submit].Careless:hover,
Button.Careless:hover,
.Button.Careless:hover {
  color: #ffffff;
}
input[type=button].Different,
input[type=submit].Different,
Button.Different,
.Button.Different {
  border: solid 1px #87b02b;
  background-color: #87b02b;
}
input[type=button].Different:hover,
input[type=submit].Different:hover,
Button.Different:hover,
.Button.Different:hover {
  background-color: #6f9023;
}
input[type=button].Light,
input[type=submit].Light,
Button.Light,
.Button.Light {
  border: solid 1px #ffbf2a;
  background-color: #ffbf2a;
}
input[type=button].Light:hover,
input[type=submit].Light:hover,
Button.Light:hover,
.Button.Light:hover {
  background-color: #db9900;
}
select,
.DropDownList {
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  height: 36px;
  vertical-align: middle;
}
select[multiple],
.DropDownList[multiple] {
  width: 120px;
}
.RadioList {
  margin: 4px 0px 2px 0px;
}
.RadioList label[for] {
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 14px;
  padding: 0px 24px 0px 6px;
}
.ItemList {
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 14px;
  line-height: 28px;
}
ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 14px;
  line-height: 24px;
}
ol {
  list-style-type: decimal-leading-zero;
}
li {
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 14px;
  padding-left: 6px;
}
@media (max-width: 960px) {
  body {
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  .Sight {
    width: 576px;
  }
}
@media (max-width: 592px) {
  input[type=text],
  input[type=password],
  input[type=search],
  .TextBox {
    width: 200px;
  }
  input[type=text].Large,
  input[type=password].Large,
  input[type=search].Large,
  .TextBox.Large {
    width: 200px;
  }
  .Holo {
    padding-bottom: 72px;
  }
  .Sight {
    width: 304px;
  }
  .Function {
    margin: 24px 0px 24px 0px;
  }
  .Function .BR {
    display: block;
    height: 24px;
  }
  .Do {
    right: 16px;
  }
}
.Topbar {
  top: 0px;
  position: fixed;
  width: 100%;
  min-width: 320px;
  background-color: #717171;
  z-index: 100;
}
.Topbar.Float {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14), 0px 4px 8px rgba(0, 0, 0, 0.28);
}
.Topbar .Ham {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  border-radius: 20px;
  background-image: url(/Images/Topbar/Ham.png);
  float: left;
  margin: 6px 4px 6px 12px;
}
.Topbar .Ham:hover {
  background-color: #c8c8c8;
}
.Topbar .Title {
  margin-left: 12px;
  line-height: 52px;
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 24px;
  color: #ffffff;
}
.Topbar .Ham ~ .Title {
  margin-left: 80px;
}
.Topbar .Auth {
  line-height: 52px;
  top: 0px;
  float: right;
  text-align: center;
  width: 120px;
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 24px;
  color: #ffffff;
}
.Topbar .Logout {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  border-radius: 20px;
  background-image: url(/Images/Topbar/Logout.png);
  float: right;
  margin: 6px 12px 6px 4px;
}
.Topbar .Logout:hover {
  background-color: #c8c8c8;
}
.Menu {
  width: 300px;
  height: 100%;
  position: fixed;
  background-color: #c8c8c8;
  top: 0px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.14), 6px 0px 8px rgba(0, 0, 0, 0.28);
  display: none;
  z-index: 100;
  overflow: auto;
}
.Menu .Back {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  border-radius: 20px;
  background-image: url(/Images/Topbar/Back.png);
  margin: 6px 4px 6px 12px;
  position: fixed;
}
.Menu .Back:hover {
  background-color: #c8c8c8;
}
.Menu .Title {
  padding-left: 80px;
  line-height: 52px;
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 24px;
  background-color: #c8c8c8;
  position: fixed;
  width: 200px;
}
.Menu .List {
  margin-top: 52px;
}
.Menu .List .Folder {
  border-bottom: 1px solid #e1e1e1;
  padding: 12px;
}
.Menu .List .Folder:last-of-type {
  border-bottom: none;
}
.Menu .List .Folder span {
  display: block;
  line-height: 30px;
}
.Menu .List .Folder a:link,
.Menu .List .Folder a:visited {
  line-height: 48px;
  padding-left: 16px;
  display: block;
  font-size: 14px;
  color: #565656;
  text-decoration: none;
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 18px;
  color: #005bb7;
}
.Menu .List .Folder a:link:hover,
.Menu .List .Folder a:visited:hover {
  background-color: #e1e1e1;
}
@media (max-width: 960px) {
  .Topbar .Auth {
    display: none;
  }
}
@media (max-width: 592px) {
  .Topbar .Title {
    text-align: center;
    margin-left: 0px;
  }
}
.Dialog {
  position: fixed;
  background-color: #ffffff;
  width: 480px;
  left: 50%;
  top: 130px;
  margin-left: -240px;
  z-index: 2147483647;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.75);
}
.Dialog .Type {
  height: 88px;
  position: relative;
}
.Dialog .Type .Caption {
  height: 64px;
  line-height: 64px;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  left: 16px;
  top: 12px;
  color: #ffffff;
}
.Dialog .Type .Icon {
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  position: absolute;
  top: 12px;
  right: 12px;
  opacity: .3;
}
.Dialog .Type.Login {
  background-color: #ffbf2a;
}
.Dialog .Type.Login .Caption {
  color: #565656;
}
.Dialog .Type.Error,
.Dialog .Type.Deny {
  background-color: #800000;
}
.Dialog .Type.Warning {
  background-color: #db9900;
}
.Dialog .Type.Confirm,
.Dialog .Type.Info {
  background-color: #005bb7;
}
.Dialog .Type.Complete {
  background-color: #6f9023;
}
.Dialog .Content {
  margin: 18px 24px 0px 24px;
  min-height: 106px;
  font-size: 18px;
}
.Dialog .Action {
  height: 32px;
  padding: 8px 0px;
  text-align: center;
  width: 100%;
  bottom: 0;
}
.Dialog .Action input {
  margin: 0px 12px;
}
@media (max-width: 960px) {
  .Dialog {
    top: 80px;
  }
}
@media (max-width: 592px) {
  .Dialog {
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
  }
}
.List {
  margin: 40px 8px 8px 8px;
}
.List .Title {
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: bold;
}
.List .Items .Item {
  background-color: #ffffff;
  border-top: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  padding: 6px 12px;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.List .Items .Item:last-of-type {
  border-bottom: 1px solid #c8c8c8;
}
.Freeze .List .Items .Item {
  border-color: rgba(0, 0, 0, 0.05);
}
.List .Items .Item * {
  cursor: pointer;
}
.List .Items .Item span {
  display: inline-block;
  margin-right: 12px;
  float: left;
}
.List .Items .Item span.Right {
  float: right;
  margin-left: 12px;
  margin-right: 0px;
}
.List .Items .Item input[type=image] {
  float: right;
  margin-left: 12px;
  margin-right: 0px;
  background-image: url(/Images/Action/Remove.png);
  width: 18px;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.List .Items .Item:not([data-view]) {
  pointer-events: none;
  cursor: default;
}
.List .Items .Item:hover {
  color: #005bb7;
  background-color: #fafafa;
}
.List .Items .Item:hover * {
  color: #005bb7;
}
.List .Action {
  margin: 18px 0px 48px 0px;
  text-align: center;
}
.Form {
  border: 1px solid #c8c8c8;
  background-color: #ffffff;
  margin: 8px;
  padding: 12px;
}
.Freeze .Form {
  border-color: rgba(0, 0, 0, 0.05);
}
.Form .Block {
  clear: both;
  overflow: hidden;
  margin-bottom: 24px;
}
.Form .Block .Title {
  font-family: "微軟正黑體", "Segoe UI", Arial;
  font-size: 20px;
  margin: 12px 0px;
  font-weight: bold;
}
.Form .Block > .Item {
  min-width: 280px;
  float: left;
  white-space: nowrap;
}
.Form .Block > .Item label {
  display: inline-block;
  padding: 0px 14px 0px 4px;
  width: 48px;
  text-align: right;
  font-weight: bold;
}
@media (max-width: 592px) {
  .Form .Block > .Item label {
    padding-right: 4px;
    text-align: center;
  }
}
/*# sourceMappingURL=Site.css.map */