@import "_Definition.less";

.Form {
    border: 1px solid @Vertical;
    background-color: @White;
    margin: 8px;
    padding: 12px;

    .Freeze & {
        border-color: rgba(0, 0, 0, 0.05);
    }

    .Block {
        clear: both;
        overflow: hidden;
        margin-bottom: 24px;

        .Title {
            .FontStyle(20px);
            margin: 12px @Zero;
            font-weight: bold;
        }

        > .Item {
            width: 300px;
            height: 48px;
            float: left;
            white-space: nowrap;

            &.Large {
                width: 600px;
            }

            &.Full {
                width: @Full;
            }

            label {
                display: inline-block;
                padding: @Zero 14px @Zero 4px;
                width: 100px;
                text-align: right;
                font-weight: bold;
            }
        }
    }
}

// ==== RWD ====
@media @Tablet {
    .Form {
        .Block {
            > .Item {
                width: @Full;
                input {
                    width: @Full;
                }
            }
        }
    }
}

@media @Phone {
    .Form {
        .Block {
            > .Item {
                label {
                    padding-right: 4px;
                    text-align: center;
                }
            }
        }
    }
}
